{
  "extends": [
    "plugin:bpmn-io/es6",
    "plugin:bpmn-io/jsx"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "Promise": true
  },
  "rules": {
    "max-len": [ 2, { "code": 90 } ],
    "no-restricted-imports": [ 2, {
      "patterns": [ "dmn-js/src", "dmn-js-*/src" ]
    } ]
  }
}
