.dmn-clauseexpression-setter {
  .tooltip(@dmn-gray-dark, #fff);

  .borderbox;

  .arrow-bottom(8px, 0, #fff);

  label {
    margin-right: @dmn-horizontal-padding;
  }

  input,
  textarea {
    .focused();
    padding: @dmn-vertical-padding @dmn-horizontal-padding;
    border: 1px solid;
  }

  textarea {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    min-height: 120px;
    position: relative;
    font-family: monospace;
    resize: none;
  }

  .icon-clear {
    color: @dmn-primary;
    cursor: pointer;
    float: right;
    // margin-top: @dmn-vertical-padding;
  }

  .region {
    padding: @dmn-horizontal-padding 0;
  }

  .row {
    overflow: hidden;
    padding: @dmn-vertical-padding @dmn-horizontal-padding;
    vertical-align: middle;

    &.link {
      padding-top: 0;
      border-bottom: 1px solid @dmn-gray-lighter;
      margin-bottom: @dmn-vertical-padding;
    }

    &.fields {
      padding-bottom: 0;
    }
  }

  .language {
    width: auto;
    margin-bottom: @dmn-vertical-padding;
  }

  .invalid {
    background-color: lighten(@dmn-danger, 30%);
    border-color: @dmn-danger;
    color: darken(@dmn-danger, 10%);
  }

  .toggle-script {
    color: @dmn-primary;
    cursor: pointer;
    padding-top: @dmn-vertical-padding;
  }

  .script {
    display: none;
  }

  &.big {
    max-width: none;
    .expression {
      display: none;
    }
    .script {
      display: block;
    }

    &:after {
      display: none;
    }
  }
}
