.dmn-literal-expression {
  font-family: 'Arial', sans-serif;
  position: relative;
  color: #444;
}

/* decision properties */
.dmn-literal-expression .decision-properties {
  color: #444;
  background-color: #fff;
  display: inline-block;
  border: 1px solid #444;
  border-bottom: none;
  position: relative;
  min-width: 100px;
  max-width: 50%;
}

.dmn-literal-expression .decision-name:not(.editor),
.dmn-literal-expression .decision-id:not(.editor) {
  cursor: default;
}

.dmn-literal-expression .decision-name.editor,
.dmn-literal-expression .decision-id.editor {
  cursor: text;
}

.dmn-literal-expression .decision-name,
.dmn-literal-expression .decision-id {
  margin: 0;
  padding: 3px 6px;
  text-align: center;
  white-space: pre;
}

.dmn-literal-expression .decision-name div,
.dmn-literal-expression .decision-id div {
  outline: none;
}

.dmn-literal-expression .decision-id.invalid {
  background: #f4cecd;
  color: #c9302c;
}

.dmn-literal-expression .decision-name.editor:not(.focussed):hover,
.dmn-literal-expression .decision-id.editor:not(.focussed):hover {
  cursor: text;
}

.dmn-literal-expression .decision-name {
  font-size: 24px;
  line-height: 30px;
  padding: .3em;
  font-weight: bold;
}

.dmn-literal-expression .decision-id {
  border-top: 1px solid #444;
  font-family: monospace;
  font-size: 18px;
}

/* textarea */
.dmn-literal-expression .textarea {
  box-sizing: border-box;
  width: 100%;
  font-family: monospace;
  border: 1px solid #444;
  border-bottom-width: 1px;
  white-space: pre;
  font-size: 14px;
  color: #444;
  height: 250px;
}

.dmn-literal-expression .textarea .content,
.dmn-literal-expression .textarea .content-editable {
  padding: 12px;
}

.dmn-literal-expression .textarea .content-editable {
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.dmn-literal-expression .textarea div:focus {
  outline: none;
}

.dmn-literal-expression .textarea.editor {
  cursor: text;
}

.dmn-literal-expression .textarea:not(.editor) {
  cursor: default;
}

/* literal expression properties */
.dmn-literal-expression .literal-expression-properties {
  box-sizing: border-box;
  width: 100%;
  padding:  0;
  border: 1px solid #444;
  border-top: none;
  font-size: 14px;
  color: #444;
}

.dmn-literal-expression .literal-expression-properties table {
  border-spacing: 8px;
}

.dmn-literal-expression .literal-expression-properties table tr td:first-child {
  font-weight: bold;
}

.dmn-literal-expression .literal-expression-properties table tr td:last-child {
  min-width: 100px;
}

.dmn-literal-expression .literal-expression-properties table tr td:last-child span {
  padding: 4px 6px;
  border: 1px solid #ccc;
  background: #FAFAFA;
  font-size: 14px;
  color: #444;
  min-width: 100%;
  display: inline-block;
  box-sizing: border-box;
}

/* view drd */
.dmn-literal-expression .view-drd {
  position: absolute;
  top: 10px;
  right: 60px;
}

.dmn-literal-expression .view-drd .view-drd-button {
  background: #fff;
  padding: 8px;
  border: solid 1px #CCC;
  border-radius: 2px;
  font-size: 14px;
  color: #444;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.dmn-literal-expression .view-drd .view-drd-button:hover {
  background: #f6f6f6;
}

/* powered by */
.dmn-literal-expression .powered-by-logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 38px;
  z-index: 10;
  cursor: pointer;
}

.dmn-literal-expression .powered-by-logo .logo {
  width: 100%;
}

.dmn-literal-expression .powered-by-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.dmn-literal-expression .powered-by-overlay .powered-by-overlay-content {
  background: #fff;
  padding: 8px;
  border: solid 1px #CCC;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  font-size: 14px;
  color: #444;
  display: flex;
  flex-direction: row;
  max-width: 260px;
}

.dmn-literal-expression .powered-by-overlay .powered-by-overlay-content div:first-child {
  margin-right: 8px;
}

/* helpers */
.dmn-literal-expression .padding-top-small {
  padding-top: 4px;
}

.dmn-literal-expression .padding-top-medium {
  padding-top: 8px;
}

.dmn-literal-expression .padding-top-large {
  padding-top: 12px;
}

.dmn-literal-expression .padding-right-small {
  padding-right: 4px;
}

.dmn-literal-expression .padding-right-medium {
  padding-right: 8px;
}

.dmn-literal-expression .padding-right-large {
  padding-right: 12px;
}

.dmn-literal-expression .padding-bottom-small {
  padding-bottom: 4px;
}

.dmn-literal-expression .padding-bottom-medium {
  padding-bottom: 8px;
}

.dmn-literal-expression .padding-bottom-large {
  padding-bottom: 12px;
}

.dmn-literal-expression .padding-left-small {
  padding-left: 4px;
}

.dmn-literal-expression .padding-left-medium {
  padding-left: 8px;
}

.dmn-literal-expression .padding-left-large {
  padding-left: 12px;
}

.dmn-literal-expression .full-width {
  width: 100%;
}

.dmn-literal-expression .full-height {
  height: 100%;
}

/* select */
.dmn-literal-expression select.select {
  outline: none;
  padding: 3px 6px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  color: #444;
}

.dmn-literal-expression select.select:focus {
  border-color: #52B415;
  box-shadow: 0 0 1px 2px rgba(82, 180, 21, 0.2);
}

/* input */
.dmn-literal-expression input.input {
  outline: none;
  padding: 4px 6px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  color: #444;
}

.dmn-literal-expression input.input:focus {
  border-color: #52B415;
  box-shadow: 0 0 1px 2px rgba(82, 180, 21, 0.2);
}

.dmn-literal-expression input.input.invalid {
  background: #f4cecd;
  border-color: #c9302c;
  color: #c9302c;
}

.dmn-literal-expression input.input.invalid:focus {
  box-shadow: 0 0 1px 2px rgba(204, 51, 51, 0.2);
}