.dmn-drd {
  width: 100%;
  height: 100%;
}

.djs-overlay .drill-down-overlay {
  font-size: 16px;
  background: #52b415;
  color: white;
  text-align: left;
  border-radius: 1px;
  padding: 0 2px;
}

.djs-overlay .literal-expression-overlay {
  font-family: Arial;
  font-size: 12px;
  min-height: 16px;
  white-space: nowrap;
  border: 1px solid black;
}

.djs-overlay .literal-expression-overlay > div {
  color: Black;
  padding: 5px;
}

.djs-overlay .literal-expression-overlay .variable-name {
  padding-bottom: 0;
}

.djs-overlay .literal-expression-overlay .literal-text {
  width: 100%;
}

.dmn-definitions {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #FAFAFA;
  border: solid 1px #CCC;
  border-radius: 2px;
  padding: 4px;
}

.dmn-definitions .dmn-definitions-name {
  font-size: 1.5em;
  padding: 3px;
}

.dmn-definitions .dmn-definitions-name:focus {
  outline: none;
}

.dmn-definitions .dmn-definitions-id {
  font-family: monospace;
  margin-top: 2px;
  padding: 3px;
}

.dmn-definitions .dmn-definitions-id:focus {
  outline: none;
}

.dmn-definitions > [contenteditable]:hover,
.dmn-definitions > [contenteditable]:focus {
  padding: 2px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid #aaaaaa;
}

.djs-container.with-palette .dmn-definitions {
  left: 80px;
}

.djs-container.with-palette-two-column .dmn-definitions {
  left: 130px;
}