
/* simple string edit */
.dmn-decision-table-container .simple-string-edit,
.dmn-decision-table-container .simple-date-edit {
  width: 250px;
}

.dmn-decision-table-container .input-expression-edit {
  width: 300px;
}

.dms-list-component .items {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.7em;
}

.dms-fill-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.dms-fill-row > * {
  flex: 0 0 auto;
}

.dms-fill-row > :last-child {
  flex: 1 1 auto;
}

.dmn-decision-table-container .allowed-values-edit .values {
  display: flex;
  flex-wrap: wrap;
}

.dmn-decision-table-container .allowed-values-edit .placeholder {
  color: #ccc;
}

/* TODO(nikku): namespace and refactor context menu styles */
.dmn-decision-table-container .context-menu {
  position: absolute;
  background: #fff;
  border: solid 1px #CCC;
  border-radius: 2px;
  font-size: 14px;
  color: #444;
  z-index: 10;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.dmn-decision-table-container .context-menu .context-menu-container {
  margin: 8px;
}

.dmn-decision-table-container .context-menu p {
  margin: 10px 0;
}

.dmn-decision-table-container .context-menu .context-menu-flex {
  display: flex;
}

.dmn-decision-table-container .context-menu.vertical .context-menu-flex {
  flex-direction: column;
}

.dmn-decision-table-container .context-menu.horizontal .context-menu-flex {
  flex-direction: row;
}

.dmn-decision-table-container .context-menu.vertical .context-menu-group {
  padding-bottom: 6px;
  margin-bottom: 6px;
  border-bottom: solid 1px #ccc;
}

.dmn-decision-table-container .context-menu.vertical .context-menu-group:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.dmn-decision-table-container .context-menu.horizontal .context-menu-group {
  border-right: solid 1px #ccc;
}

.dmn-decision-table-container .context-menu.horizontal .context-menu-group:last-child {
  border-right: none;
}

.dmn-decision-table-container .context-menu .context-menu-group .context-menu-group-title {
  font-weight: bold;
  color: #444;
  margin: 6px 9px 6px 9px;
}

.dmn-decision-table-container .context-menu .context-menu-group .context-menu-group-entry {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  white-space: nowrap;
  padding: 4px 9px 4px 9px;
  cursor: pointer;
}

.dmn-decision-table-container .context-menu .context-menu-group .context-menu-group-entry.disabled {
  pointer-events: none;
  color: #ccc;
}

.dmn-decision-table-container .context-menu .context-menu-group .context-menu-group-entry:hover {
  color: #52b415;
}

.dmn-decision-table-container .context-menu .context-menu-group .context-menu-group-entry .context-menu-group-entry-icon {
  display: inline-block;
  text-align: center;
  width: 14px;
  margin-right: 6px;
}

.dmn-decision-table-container .context-menu .context-menu-group .context-menu-group-entry .context-menu-group-entry-icon:before {
  margin: 0;
}

.dms-label {
  font-weight: bold;
  white-space: nowrap;
  margin-right: 5px;
}

.dms-hrule {
  border: 0;
  border-top: dotted 1px #DDD;

  margin: 10px auto;
}

/* expression language */
.dmn-decision-table-container .context-menu .context-menu-group .context-menu-entry-set-expression-language {
  flex-direction: column;
}

.dmn-decision-table-container .context-menu .context-menu-group .context-menu-entry-set-expression-language .expression-language {
  margin-top: 8px;
}

.dms-heading {
  margin: 12px 0 8px;
  font-weight: bold;
}

p.dms-hint {
  font-size: 0.85em;
  margin-top: 5px;
  color: #888;
}

p.dms-hint a {
  color: #3960a2;
  text-decoration: none;
}

p.dms-hint a:hover {
  color: #4285f4;
}

/* validated input */
p.dms-validation-warning {
  color: #c9302c;
}

h3.dms-heading {
  font-size: 16px;
}

h4.dms-heading {
  font-size: 14px;
}

.validated-input-component.dms-block .dms-input,
.dms-block {
  display: block;
  width: 100%;
}

.dms-input,
.dms-select {
  outline: none;
  padding: 3px 6px;
  border: 1px solid #ccc;
  background: none;
  font-size: 14px;
  color: #444;
  min-height: 26px;
}

.dms-input {
  min-height: 26px;
  white-space: pre-wrap;
}

.dms-select {
  height: 26px;
}

.dms-input:focus,
.dms-select:focus {
  border-color: #52B415;
}

.dms-select.invalid:focus,
.dms-input.invalid:focus {
  border-color: #c9302c;
}

.dms-input.invalid,
.dms-select.invalid {
  background: #f4cecd;
  border-color: #c9302c;
  color: #c9302c;
}

.dms-script-input {
  height: 150px;

  white-space: pre-wrap;

  overflow: auto;
}

/* drag and drop */
.dmn-icon-drag {
  color: transparent;
}

.dmn-decision-table-container th .dmn-icon-drag {
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.dmn-decision-table-container th:hover .dmn-icon-drag,
.dmn-decision-table-container td:hover .dmn-icon-drag {
  color: #999;
}

.dmn-icon-drag.horizontal,
.dmn-icon-drag.vertical {

  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.dmn-icon-drag:hover {
  color: #444;
}

/* description editor */

.dmn-decision-table-container .context-menu .description-editor {
  margin: 0;
  padding: 5px 0;
  width: 192px;
  border-left: solid 3px #444;
}

.dmn-decision-table-container .description-editor .dms-input {
  border: none;
  min-height: 0;
}

/* end description editor */