
/* simple string edit */
.tjs-container .simple-string-edit,
.tjs-container .simple-date-edit {
  width: 250px;
}

.tjs-container .input-expression-edit {
  width: 300px;
}

.dms-list-component .items {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.7em;
}

.dms-fill-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.dms-fill-row > * {
  flex: 0 0 auto;
}

.dms-fill-row > :last-child {
  flex: 1 1 auto;
}

.tjs-container .input-output-values-edit .values {
  display: flex;
  flex-wrap: wrap;
}

.tjs-container .input-output-values-edit .placeholder {
  color: #ccc;
}

/* TODO(nikku): namespace and refactor context menu styles */
.context-menu {
  position: absolute;
  background: #fff;
  border: solid 1px #CCC;
  border-radius: 2px;
  font-size: 14px;
  color: #444;
  z-index: 10;
}

.context-menu .context-menu-container {
  margin: 8px;
}

.context-menu p {
  margin: 10px 0;
}

.context-menu .context-menu-flex {
  display: flex;
}

.context-menu.vertical .context-menu-flex {
  flex-direction: column;
}

.context-menu.horizontal .context-menu-flex {
  flex-direction: row;
}

.context-menu.vertical .context-menu-group {
  padding-bottom: 6px;
  margin-bottom: 6px;
  border-bottom: solid 1px #ccc;
}

.context-menu.vertical .context-menu-group:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.context-menu.horizontal .context-menu-group {
  border-right: solid 1px #ccc;
}

.context-menu.horizontal .context-menu-group:last-child {
  border-right: none;
}

.context-menu .context-menu-group .context-menu-group-title {
  font-weight: bold;
  color: #444;
  margin: 6px 9px 6px 9px;
}

.context-menu .context-menu-group .context-menu-group-entry {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  white-space: nowrap;
  padding: 4px 9px 4px 9px;
  cursor: pointer;
}

.context-menu .context-menu-group .context-menu-group-entry.disabled {
  pointer-events: none;
  color: #ccc;
}

.context-menu .context-menu-group .context-menu-group-entry:hover {
  color: #52b415;
}

.context-menu .context-menu-group .context-menu-group-entry .context-menu-group-entry-icon {
  display: inline-block;
  text-align: center;
  width: 14px;
  margin-right: 6px;
}

.context-menu .context-menu-group .context-menu-group-entry .context-menu-group-entry-icon:before {
  margin: 0;
}

.dms-label {
  font-weight: bold;
  white-space: nowrap;
}

/* expression language */
.context-menu .context-menu-group .context-menu-entry-set-expression-language {
  flex-direction: column;
}

.context-menu .context-menu-group .context-menu-entry-set-expression-language .expression-language {
  margin-top: 8px;
}

.tjs-container .full-width {
  width: 100%;
}

.tjs-container .full-height {
  height: 100%;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.dms-heading {
  margin: 12px 0 8px;
  font-weight: bold;
}

p.dms-hint {
  font-size: 0.85em;
  margin-top: 5px;
  color: #888;
}

p.dms-hint a {
  color: #3960a2;
  text-decoration: none;
}

p.dms-hint a:hover {
  color: #4285f4;
}

/* validated input */
p.dms-validation-warning {
  color: #c9302c;
}

h3.dms-heading {
  font-size: 16px;
}

h4.dms-heading {
  font-size: 14px;
}

.validated-input-component.dms-block .dms-input,
.dms-block {
  display: block;
  width: 100%;
}

.dms-input,
.dms-select {
  outline: none;
  padding: 3px 6px;
  border: 1px solid #ccc;
  background: none;
  font-size: 14px;
  color: #444;
  height: 26px;
  min-height: 26px;
}

.dms-input:focus,
.dms-select:focus {
  border-color: #52B415;
}

.dms-select.invalid:focus,
.dms-input.invalid:focus {
  border-color: #c9302c;
}

.dms-input.invalid,
.dms-select.invalid {
  background: #f4cecd;
  border-color: #c9302c;
  color: #c9302c;
}

.dms-script-input {
  height: 150px;

  font-family: monospace;

  white-space: pre-wrap;

  overflow: auto;
}