.dmn-decision-table-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.dmn-decision-table-container * {
  box-sizing: border-box;
}

/** actionable icon */
.tjs-container .actionable .action-icon {
  border-radius: 4px;
  color: #52b415;
}

.tjs-container .actionable:hover .action-icon {
  background-color: #52b415;
  color: white;
}

.tjs-container .actionable .action-icon:before {
  margin-left: .1em;
  margin-right: .1em;
}

/** end actionable icon */


/* basic styles */

.dmn-decision-table-container {
  color: #444;

  max-height: 100%;
}

.dmn-decision-table-container .tjs-table {
  min-width: 100%;
}

/* end basic styles */


/* basic table styles */

.tjs-container {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

.tjs-container table {
  table-layout: fixed;
  border-collapse: collapse;

  border: solid 1px #444;
}

.tjs-container table thead {
  border-bottom: 3px double #444;
}

.tjs-container td,
.tjs-container th {
  border: solid 1px #444;
  padding: 4px;
}

.tjs-container .decision-table-properties {
  border: solid 1px #444;
}

table tr > .input + .output {
  border-left: 3px double #444;
}

.tjs-container th {
  min-width: 192px;
}

.tjs-container th,
.tjs-container td {
  white-space: pre;
}

.tjs-container th.hit-policy {
  width: 40px;
  min-width: 40px;

  vertical-align: top;
}

.tjs-container th {
  font-weight: normal;
}

.tjs-container th.header {
  text-align: center;
  font-weight: bold;
}

.tjs-container th.annotation.header {
  vertical-align: bottom;
}

.tjs-container td.rule-index {
  text-align: right;
  padding-right: 8px;
}

.tjs-container thead .input-expression,
.tjs-container thead .output-name,
.tjs-container thead .type-ref {
  font-family: monospace;
}

/* end basic table styles */


/* selection styles */

.tjs-container th,
.tjs-container td {
  position: relative;
}

.tjs-container th.selected:before,
.tjs-container td.selected:before,
.tjs-container th.focussed:before,
.tjs-container td.focussed:before {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  border: solid 2px #4285f4;
  z-index: 1;
  pointer-events: none;
}

/* end selection styles */


/* footer styles */

.tjs-container tfoot.add-rule td.add-rule-add {
  text-align: right;
}

.tjs-container tfoot.add-rule td {
  border-color: #AAA;
  color: #AAA;
}

.tjs-container tfoot.add-rule:hover td {
  border-color: #444;
  color: #444;
}


/* end footer styles */


/* content editable styles */

.tjs-container .content-editable {
  outline: none;
}

/* end content editable styles */


/* context menu styles */

.dmn-decision-table-container {
  overflow: auto;
  position: relative;
}

/* decision table properties */
.decision-table-properties {
  color: #444;
  background-color: #fff;
  display: inline-block;
  border-bottom: none;
  margin-bottom: -1px;
  position: relative;
  min-width: 100px;
  max-width: 50%;
}

.decision-table-name,
.decision-table-id {
  margin: 0;
  padding: 3px 6px;
  text-align: center;
  white-space: pre;
}

.decision-table-id.invalid {
  background: #f4cecd;
  color: #c9302c;
}

.decision-table-name {
  font-size: 24px;
  line-height: 30px;
  padding: .3em;
  font-weight: bold;
}

.decision-table-id {
  border-top: 1px solid #444;
  font-family: monospace;
  font-size: 18px;
}

/* end decision table properties */

/* view drd */
.dmn-decision-table-container .view-drd {
  position: absolute;
  top: 10px;
  right: 60px;
}

.dmn-decision-table-container .view-drd .view-drd-button {
  background: #fff;
  padding: 8px;
  border: solid 1px #CCC;
  border-radius: 2px;
  font-size: 14px;
  color: #444;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.dmn-decision-table-container .view-drd .view-drd-button:hover {
  background: #f6f6f6;
}

/* end view drd */


/* powered by */
.powered-by-logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 38px;
  z-index: 10;
  cursor: pointer;
}

.powered-by-logo .logo {
  width: 100%;
}

.powered-by-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.powered-by-overlay .powered-by-overlay-content {
  background: #fff;
  padding: 8px;
  border: solid 1px #CCC;
  border-radius: 2px;
  font-size: 14px;
  color: #444;
  display: flex;
  flex-direction: row;
  max-width: 260px;
}

.powered-by-overlay .powered-by-overlay-content div:first-child {
  margin-right: 8px;
}

/* end powered by */


/* simple mode */

.tjs-container .simple-mode-button {
  color: #444;
  background-color: #f6f6f6;
  position: absolute;
  background: #fff;
  padding: 4px;
  border-radius: 2px;
  border: solid 1px #CCC;
  cursor: pointer;
  font-size: 14px;
  z-index: 2;
  opacity: .8;
}

.simple-mode-button:hover {
  opacity: 1;
}

.simple-mode-button.disabled,
.simple-mode-button.disabled:hover {
  color: #CCC;
}

/* end simple mode  */

/* cell expression language */

.dmn-decision-table-container .cell-expression-language {
  display: flex;
  align-items: center;
  position: absolute;
  top: 2px;
  right: 2px;
  background: #4285f4;
  color: white;
  border-radius: 2px;
  padding: 3px 6px;
  font-size: .8em;
  opacity: 0.5;
  pointer-events: none;
}

.dmn-decision-table-container td:hover .cell-expression-language {
  opacity: 0.75;
}

.dmn-decision-table-container td .cell-expression-language .label {
  display: none;
}

.dmn-decision-table-container td:hover .cell-expression-language .label {
  display: inline;
}

.dmn-decision-table-container td .cell-expression-language .dmn-icon-file-code:before {
  margin-left: 0;
  margin-right: 0;
}

.dmn-decision-table-container td:hover .cell-expression-language .dmn-icon-file-code:before {
  margin-right: 6px;
}

/* end cell expression language */