.decision-table-container {
  overflow: auto;
}

.tjs-container {
  font-family: 'Arial', sans-serif;
}

.tjs-container table {
  table-layout: fixed;
  background-color: #FFF;
  border-collapse: collapse;
  border: solid 2px #555;
  color: #555;
  min-width: 100%;
}

.tjs-container table thead {
  border-bottom: 3px double #555;
}

.tjs-container td,
.tjs-container th {
  font-size: 16px;
}

.tjs-container td {
  border: solid 1px #555;
  padding: 4px;
}


.tjs-container th {
  border: solid 1px #555;
  min-width: 192px;
  padding: 4px;
}

.tjs-container thead tr:first-child th:first-child {
  width: 45px;
  min-width: 45px;
}

.tjs-container thead tr:not(:first-child) th {
  font-weight: normal;
}

.tjs-container thead th {
  text-align: center;
}

.tjs-container th.hit-policy {
  width: 40px;
  vertical-align: top;
  cursor: pointer;
}

.tjs-container th.hit-policy:hover {
  background-color: #FEFDE6;
}

.tjs-container td.rule-index {
  text-align: right;
}

.tjs-container th.annotation {
  vertical-align: bottom;
}

.tjs-container td.annotation {
  text-align: center;
}

th.hit-policy,
td.rule-index,
th.input,
td.input,
th.annotation,
td.annotation {
  background-color: #f6f6f6;
}

th.input.input-expression,
th.output.output-name,
th.type-ref {
  font-family: monospace;
}

th.input.input-expression:hover,
th.input.input-expression.focussed {
  background-color: #FEFDE6;
  cursor: pointer;
}

th.input.type-ref:hover,
th.output.type-ref:hover,
th.input.type-ref.focussed,
th.output.type-ref.focussed {
  background-color: #FEFDE6;
  cursor: pointer;
}

td.annotation:hover,
td.annotation.focussed {
  background-color: #FEFDE6;
}

td.annotation:not(.focussed):hover {
  cursor: pointer;
}

th.output,
td.output {
  background-color: #f7fcf4;
}

th.output.output-name {
  outline: none;
}

th.output.output-name:hover,
th.output.output-name.focussed {
  background-color: #FEFDE6;
}

th.output.output-name:not(.focussed):hover {
  cursor: pointer;
}

td.input:not(.selected):hover,
td.output:not(.selected):hover {
  background-color: #FEFDE6;
  cursor: pointer;
}

th.input.add-input,
th.output.add-output {
  cursor: pointer;
}

th.input.add-input:hover,
th.output.add-output:hover {
  background-color: #FEFDE6;
}

th.input-type,
th.output-type {
  background-color: #CFCFCF;
  color: #fff;
}

table tr > .input + .output {
  border-left: 3px double #555;
}

table tbody {
  border: solid 2px #555;
}

td {
  outline: none;
}

table tfoot {
  border-right: solid 2px #eee;
  border-bottom: solid 2px #eee;
  border-left: solid 2px #eee;
}

table tfoot td {
  border: solid 1px #eee;
}

table tfoot td.add-rule {
  text-align: center;
}

table tfoot td.add-rule-add {
  text-align: right;
}

table tfoot tr.add-rule:hover td {
  background-color: #FEFDE6;
  cursor: pointer;
}

/* context menu */
.context-menu {
  position: absolute;
  background: #fff;
  border: solid 1px #CCC;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  font-size: 16px;
  color: #555;
}

.context-menu .context-menu-group {
  margin: 6px;
  padding-bottom: 6px;
  border-bottom: solid 1px #ccc;
}

.context-menu .context-menu-group:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.context-menu .context-menu-group .context-menu-group-title {
  font-weight: bold;
  color: #555;
  margin: 0 0 6px 0;
}

.context-menu .context-menu-group .context-menu-group-entry {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.context-menu .context-menu-group .context-menu-group-entry.disabled {
  pointer-events: none;
}

.context-menu .context-menu-group .context-menu-group-entry.disabled .context-menu-group-entry-part {
  color: #ccc;
}

.context-menu .context-menu-group .context-menu-group-entry-part {
  padding: 3px 6px 3px 6px;
  border: solid 1px transparent;
  white-space: nowrap;
}

.context-menu .context-menu-group .context-menu-group-entry:hover .context-menu-group-entry-part {
  border-color: #555;
}

.context-menu .context-menu-group .context-menu-group-entry-part:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.context-menu .context-menu-group .context-menu-group-entry-part:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  flex: 1;
}

.context-menu .context-menu-group .context-menu-group-entry .context-menu-group-entry-part:hover {
  background-color: #555;
  color: #fff;
  cursor: pointer;
}

.context-menu .context-menu-group .context-menu-group-entry .context-menu-group-entry-icon {
  display: inline-block;
  text-align: center;
  width: 12px;
  margin-right: 6px;
}

.context-menu .context-menu-group .context-menu-group-entry button {
  border: solid 1px transparent;
  border-radius: 2px;
  background: none;
  padding: 6px;
}

.context-menu .context-menu-group .context-menu-group-entry button:hover {
  cursor: pointer;
}

/* hit policy edit */
.context-menu .hit-policy-edit {
  font-size: 16px;
  font-weight: bold;
  color: #555;
  padding: 8px;
  white-space: nowrap;
}

.context-menu .hit-policy-edit .hit-policy-edit-operator {
  margin-top: 8px;
}

.context-menu .hit-policy-edit .hit-policy-edit-policy-select,
.context-menu .hit-policy-edit .hit-policy-edit-operator-select {
  margin-left: 8px;
  outline: none;
  border: none;
  border-bottom: solid .5px #555;
  background: none;
  padding: 4px;
  font-size: 16px;
  color: #555555;
}

/* type ref edit */
.context-menu .type-ref-edit {
  font-size: 16px;
  font-weight: bold;
  color: #555;
  padding: 8px;
  white-space: nowrap;
}

.context-menu .type-ref-edit .type-ref-edit-select {
  margin-left: 8px;
  outline: none;
  border: none;
  border-bottom: solid .5px #555;
  background: none;
  padding: 4px;
  font-size: 16px;
  color: #555555;
  font-family: monospace;
}

/* input expression edit */
.context-menu .input-expression-edit {
  font-size: 16px;
  font-weight: bold;
  color: #555;
  padding: 8px;
  white-space: nowrap;
}

.context-menu .input-expression-edit .input-expression-edit-input {
  margin-left: 8px;
  outline: none;
  border: none;
  border-bottom: solid .5px #555;
  background: none;
  padding: 4px;
  font-size: 16px;
  color: #555;
  font-family: monospace;
}

/* selection */
tr.selected,
th.selected,
td.selected {
  background-color: #FEFDE6;
}

/* decision table properties */
.decision-table-properties {
  color: #555;
  background-color: #fff;
  display: inline-block;
  border: 2px solid #555;
  border-bottom: none;
  margin-bottom: -1px;
  position: relative;
  min-width: 100px;
  max-width: 50%;
}

.decision-table-name,
.decision-table-id {
  margin: 0;
  padding: 3px 6px;
  text-align: center;
  outline: none;
}

.decision-table-name.focussed,
.decision-table-id.focussed {
  background: #FEFDE6;
}

.decision-table-name:not(.focussed):hover,
.decision-table-id:not(.focussed):hover {
  background: #FEFDE6;
  cursor: pointer;
}

.decision-table-name {
  font-size: 24px;
  line-height: 30px;
  padding: .3em;
  font-weight: bold;
}

.decision-table-id {
  border-top: 1px solid #555;
  font-family: monospace;
  font-size: 18px;
}

/* view drd */
.decision-table-container .view-drd {
  position: absolute;
  top: 10px;
  right: 60px;
}

.decision-table-container .view-drd .view-drd-button {
  background: #fff;
  padding: 8px;
  border: solid 1px #CCC;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  font-size: 16px;
  color: #555;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.decision-table-container .view-drd .view-drd-button:hover {
  background: #f6f6f6;
}

/* powered by */
.powered-by-logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 38px;
  z-index: 10000;
  cursor: pointer;
}

.powered-by-logo .logo {
  width: 100%;
}

.powered-by-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.powered-by-overlay .powered-by-overlay-content {
  background: #fff;
  padding: 8px;
  border: solid 1px #CCC;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  font-size: 16px;
  color: #555;
  display: flex;
  flex-direction: row;
  max-width: 260px;
}

.powered-by-overlay .powered-by-overlay-content div:first-child {
  margin-right: 8px;
}