/* Color definitions */
.dmn-js-parent {
  --blue-base-65: #4D90FF;
  --blue-darken-48: #005DF7;
  --blue-darken-55: #1A70FF;
  --blue-lighten-82: #A2C5FF;
  --red-base-62: #FF3D3D;
  --red-lighten-85: #FFB3B3;
  --black-opacity-0-1: rgba(0, 0, 0, 0.1);
  --black-opacity-0-2: rgba(0, 0, 0, 0.2);
  --blue-darken-48-opacity-0-3: rgba(0, 93, 247, 0.3);
  --white: #FFFFFF;
  --white-smoke: #EFEFEF;
  --white-smoke-shade-2: #F6F6F6;
  --gray-25: #404040;
  --gray-98: #FAFAFA;
  --gray-80: #CCCCCC;
  --medium-light-gray: #AAAAAA;
  --medium-light-gray-shade-2: #888888;
  --medium-light-gray-shade-3: #999999;
  --medium-dark-gray: #666666;
  --medium-dark-gray-shade-2: #444444;
  --silver-darken-80: #CDCDCD;
  --suva-grey: #909090;
  --alabaster: #F8F8F8;
  --silver-75: #BFBFBF;
  --matterhorn: #545454;
  --gainsboro: #DDDDDD;

  --hrule-border-top-color: var(--gainsboro);
  --hint-button-color: var(--blue-base-65);
  --hint-button-hover-color: var(--blue-darken-48);
  --validation-warning-color: var(--red-base-62);
  --select-border-color: var(--gray-80);
  --select-color: var(--medium-dark-gray-shade-2);
  --select-focus-border-color: var(--blue-darken-55);
  --select-focus-box-shadow-color: var(--blue-lighten-82);
  --select-focus-box-shadow-inset-color: var(--silver-darken-80);
  --select-focus-invalid-border-color: var(--red-base-62);
  --select-focus-invalid-box-shadow-color: var(--red-lighten-85);
  --select-non-focus-invalid-border-color: var(--red-base-62);
  --select-non-focus-invalid-color: var(--red-base-62);
  --select-options-background-color: var(--white);
  --select-options-border-color: var(--gray-80);
  --select-options-text-color: var(--medium-dark-gray-shade-2);
  --select-options-box-shadow-color: var(--black-opacity-0-1);
  --select-active-option-color: var(--blue-darken-48);
  --select-option-hover-background-color: var(--black-opacity-0-1);
}

.dms-list-component .items {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.7em;
}

.dms-list-component .items .item .remove {
  float: right;
}

.dms-fill-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dms-fill-row > * {
  flex: 0 0 auto;
}

.dms-fill-row > :last-child {
  flex: 1 1 auto;
}

.dms-label {
  font-weight: bold;
  white-space: nowrap;
  margin-right: 5px;
}

.dms-hrule {
  border: 0;
  border-top: dotted 1px var(--hrule-border-top-color);

  margin: 10px auto;
}

.dms-heading {
  margin: 12px 0 8px;
  font-weight: bold;
}

p.dms-hint button {
  color: var(--hint-button-color);
  text-decoration: none;
  display: inline;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  background: none;
}

p.dms-hint button:hover {
  color: var(--hint-button-hover-color);
}

/* validated input */
p.dms-validation-warning {
  color: var(--validation-warning-color);
}

h3.dms-heading {
  font-size: 16px;
}

h4.dms-heading {
  font-size: 14px;
}

.dms-validated-input.dms-block .dms-input,
.dms-block {
  display: block;
  width: 100%;
}

.dms-input,
.dms-select {
  outline: none;
  padding: 3px 6px;
  border: 1px solid var(--select-border-color);
  background: none;
  font-size: 14px;
  color: var(--select-color);
  min-height: 26px;
}

.dms-input {
  min-height: 26px;
  white-space: pre-wrap;
}

.dms-select {
  height: 26px;
}

.dms-input:focus,
.dms-select:focus {
  border: solid 1px var(--select-focus-border-color);
  box-shadow: 0 0 0 2px var(--select-focus-box-shadow-color), 0 0 0 1px var(--select-focus-box-shadow-inset-color) inset;
}

.dms-select.invalid:focus,
.dms-input.invalid:focus {
  border: solid 1px var(--select-focus-invalid-border-color);
  box-shadow: 0 0 0 2px var(--select-focus-invalid-box-shadow-color), 0 0 0 1px var(--select-focus-box-shadow-inset-color) inset;
}

.dms-input.invalid,
.dms-select.invalid {
  border-color: var(--select-non-focus-invalid-border-color);
  color: var(--select-non-focus-invalid-color);
}

.dms-script-input {
  height: 150px;

  white-space: pre-wrap;

  overflow: auto;
}

.dms-input-select {
  display: inline-block;
  position: relative;
  min-width: 128px;
}

.dms-input-select .dms-input {
  padding-right: 24px;
}

.dms-input-select .dms-input-select-icon {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.dms-input-select .options {
  background: var(--select-options-background-color);
}

.dms-select-options {
  position: fixed;
  background-color: var(--select-options-background-color);
  border: solid 1px var(--select-options-border-color);
  border-radius: 2px;
  font-size: 14px;
  color: var(--select-options-text-color);
  box-shadow: 1px 1px 1px 1px var(--select-options-box-shadow-color);
  z-index: 20;
  cursor: pointer;
}

.dms-select-options .option {
  padding: 4px 9px 4px 9px;
}

.dms-select-options .option.active {
  color: var(--select-active-option-color);
}

.dms-select-options .option:focus,
.dms-select-options .option:hover {
  background-color: var(--select-option-hover-background-color);
}
