@import (reference) "bootstrap/less/variables";

@dmn-primary:             #52b415;
@dmn-border-color:        desaturate(@dmn-primary, 30%);
@dmn-focus:               #f9fac8;// #E4E5BB

@dmn-success:             @brand-success;
@dmn-info:                #fffcb0;//@brand-info;
@dmn-warning:             @brand-warning;
@dmn-danger:              @brand-danger;

@dmn-gray-lighter:        #f0f0f0;
@dmn-gray-light:          #c0c0c0;
@dmn-gray:                #a0a0a0;
@dmn-gray-dark:           #808080;
@dmn-gray-darker:         #606060;

@dmn-table-bg:            #fff;
@dmn-row-even-bg:         #efefef;
@dmn-row-even-hover-bg:   mix(@dmn-focus, #e0e0e0);
@dmn-row-odd-bg:          #fefefe;
@dmn-row-odd-hover-bg:    mix(@dmn-focus, #e6e6e6);

@dmn-col-even-hover-bg:   @dmn-row-even-hover-bg;
@dmn-col-odd-hover-bg:    @dmn-row-odd-hover-bg;

@dmn-input-color:         lighten(desaturate(@dmn-primary, 20%), 55%);
@dmn-output-color:        lighten(desaturate(@dmn-primary, 25%), 50%);


@dmn-shadow-color:        fade(@dmn-primary, 20%);

@dmn-vertical-padding:    3px;
@dmn-horizontal-padding:  6px;


@dmn-logo: ~"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA0CAMAAADypuvZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADBQTFRFiMte9PrwldFwfcZPqtqN0+zEyOe1XLgjvuKncsJAZ70y6fXh3vDT////UrQV////G2zN+AAAABB0Uk5T////////////////////AOAjXRkAAAHDSURBVHjavJZJkoUgDEBJmAX8979tM8u3E6x20VlYJfFFMoL4vBDxATxZcakIOJTWSmxvKWVIkJ8jHvlRv1F2LFrVISCZI+tCtQx+XfewgVTfyY3plPiQEAzI3zWy+kR6NBhFBYeBuscJLOUuA2WVLpCjVIaFzrNQZArxAZKUQm6gsj37L9Cb7dnIBUKxENaaMJQqMpDXvSL+ktxdGRm2IsKgJGGPg7atwUG5CcFUEuSv+CwQqizTrvDTNXdMU2bMiDWZd8d7QIySWVRsb2vBBioxOFt4OinPBapL+neAb5KL5IJ8szOza2/DYoipUCx+CjO0Bpsv0V6mktNZ+k8rlABlWG0FrOpKYVo8DT3dBeLEjUBAj7moDogVii7nSS9QzZnFcOVBp1g2PyBQ3Vr5aIapN91VJy33HTJLC1iX2FY6F8gRdaAeIEfVONgtFCzZTmoLEdOjBDfsIOA6128gw3eu1shAajdZNAORxuQDJN5A5PbEG6gNIu24QJD5iNyRMZIr6bsHbCtCU/OaOaSvgkUyDMdDa1BXGf5HJ1To+/Ym6mCKT02Y+/Sa126ZKyd3jxhzpc1r8zVL6YM1Qy/kR4ABAFJ6iQUnivhAAAAAAElFTkSuQmCC";
/*
@dmn-input-bg:            #DCDBC4;
@dmn-output-bg:           #E1F3D5;
@dmn-values-bg:           #C0C0C0;
@dmn-mapping-bg:          #CFCFCF;
@dmn-label-focused-bg:    #FEFDE6;
@dmn-values-focused-bg:   #D2D1BA;
@dmn-mapping-focused-bg:  #DCDBC4;
*/
