.dmn-drd {
  width: 100%;
  height: 100%;
}

.djs-overlay .drill-down-overlay {
  font-size: 16px;
  background: @dmn-primary;
  color: white;
  cursor: pointer;
  text-align: left;
  border-radius: 1px;
}

.djs-overlay .literal-expression-overlay {
  font-family: Arial;
  font-size: 12px;
  min-height: 16px;
  white-space: nowrap;
  border: 1px solid black;

  > div {
    color: Black;
    padding: 5px;
  }

  .variable-name {
    padding-bottom: 0;
  }

  .literal-text {
    width: 100%;
  }
}

.dmn-definitions {
  position: absolute;
  top: 20px;
  left: 80px;
  background-color: rgba(255,255,255, .9);

  .dmn-definitions-name {
    font-size: 1.5em;
    opacity: 0.4;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }
    &:focus {
      opacity: 1;
      outline: none;
    }
  }

  .dmn-definitions-id {
    font-size: 0.8em;
    opacity: 0.3;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }
    &:focus {
      opacity: 1;
      outline: none;
    }
  }
}
