.literal-expression-editor {
  border: 2px solid #555555;

  textarea {
    width: 100%;
    padding: 10px;
    font-family:monospace;
    min-height: 220px;
    border: none;
    border-bottom: 1px solid #555555;
  }

  .literal-expression-field {
    width: 450px;
    display: inline-block;
    margin: 5px;

    .dmn-combobox {
      display: inline;
      input {
        width: auto;
      }
    }

    label {
      width: 190px;
      display: inline-block;
      text-align: right;
      color: #555555;
      font-weight: 700;
      background-color: transparent;
      padding-right: 6px;
    }
  }

}
