@import (less) "../assets/dmn-font/css/dmn.css";
@import (less) "../assets/dmn-font/css/dmn-embedded.css";


.dmn-font() {
  font-family: "dmn";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}
