@dmn-font-path:           '../fonts/';
@dmn-primary:             #52b415;
@dmn-border-color:        desaturate(@dmn-primary, 30%);
@dmn-focus:               #f9fac8;// #E4E5BB

@dmn-success:             @brand-success;
@dmn-info:                #fffcb0;
@dmn-warning:             @brand-warning;
@dmn-danger:              @brand-danger;

@dmn-gray-lighter:        @gray-lighter;
@dmn-gray-light:          @gray-light;
@dmn-gray:                @gray;
@dmn-gray-dark:           @gray-dark;
@dmn-gray-darker:         @gray-darker;

@dmn-table-bg:            #fff;
@dmn-row-even-bg:         #efefef;
@dmn-row-even-hover-bg:   mix(@dmn-focus, #e0e0e0);
@dmn-row-odd-bg:          #fefefe;
@dmn-row-odd-hover-bg:    mix(@dmn-focus, #e6e6e6);

@dmn-col-even-hover-bg:   @dmn-row-even-hover-bg;
@dmn-col-odd-hover-bg:    @dmn-row-odd-hover-bg;

@dmn-input-color:         @body-bg;
@dmn-output-color:        lighten(desaturate(@dmn-primary, 20%), 58%);
@dmn-annotation-color:    lighten(@dmn-gray-lighter, 3%);

@dmn-fired-color:         #E0F2FB;

@dmn-shadow-color:        fade(@dmn-primary, 20%);

@dmn-vertical-padding:    3px;
@dmn-horizontal-padding:  6px;

@dmn-input-bg:            #DCDBC4;
@dmn-output-bg:           #E1F3D5;

@dmn-values-bg:           #CFCFCF;
@dmn-mappings-bg:         #C0C0C0;

@dmn-focused-bg:          #FEFDE6;

@dmn-values-focused-bg:   #DCDBC4;
@dmn-mappings-focused-bg: #D2D1BA;
