.dmn-drd {
  width: 100%;
  height: 100%;
}

.djs-overlay .drill-down-overlay {
  font-size: 16px;
  background: @dmn-primary;
  color: white;
  cursor: pointer;
  text-align: left;
  border-radius: 1px;
  padding: 0 2px;
}

.djs-overlay .literal-expression-overlay {
  font-family: Arial;
  font-size: 12px;
  min-height: 16px;
  white-space: nowrap;
  border: 1px solid black;

  > div {
    color: Black;
    padding: 5px;
  }

  .variable-name {
    padding-bottom: 0;
  }

  .literal-text {
    width: 100%;
  }
}

.dmn-definitions {
  position: absolute;
  top: 20px;
  left: 80px;
  background-color: #FAFAFA;
  border: solid 1px #CCC;
  border-radius: 2px;
  padding: 4px;

  .dmn-definitions-name {
    font-size: 1.5em;
    padding: 3px;

    &:focus {
      outline: none;
    }
  }

  .dmn-definitions-id {
    font-family: monospace;
    margin-top: 2px;
    padding: 3px;

    &:focus {
      outline: none;
    }
  }

  > [contenteditable] {
    &:hover,
    &:focus {
      padding: 2px;
      background-color: white;
      border-radius: 2px;
      border: 1px solid #aaaaaa;
    }
  }
}

.djs-container.two-column .dmn-definitions {
  left: 130px;
}
